nav {
    color: aliceblue !important;
    font-size: 1.2em;
    width: 100%;
    font-family: Helvetica;
    text-align: left;
}

/*BLUE HUE: #35577D, #141E30*/
body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #5d2850, #271939);
    background: linear-gradient(-45deg, #5d2850, #271939);
    margin: 0;
    padding: 0;
}

h1 {
    color: aliceblue !important;
    font-size: 2.7em;
    width: 100%;
    font-family: "Helvetica Neue";
    text-align: center;
}

h2 {
    color: aliceblue !important;
    font-size: 1.8em;
    width: 100%;
    font-family: Helvetica;
    text-align: center;
}

h3 {
    color: aliceblue !important;
    font-size: 1.4em;
    width: 100%;
    font-family: Helvetica;
    text-align: center;
}

p {
    color: aliceblue;
    font-size: 1.1em;
    padding-top: 0px;
    line-height: 1.0em;
    width: 100%;
    font-family: Helvetica;
    text-align: center;
}

ol {
    color: aliceblue;
    font-size: 1.5em;
    padding-left: 225px;
    line-height: 1.8em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
}

ul {
    color: aliceblue;
    font-size: 1.1em;
    padding-left: 175px;
    line-height: 2.5em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}