nav {
    color: aliceblue !important;
    font-size: 1.2em;
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    font-family: Monaco;
    text-align: left;
}

title {
    font-size: 5em;
    width: 100%;
    font-family: Monaco;
    text-align: center;
}

/*BLUE HUE: #35577D, #141E30*/
body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #672a57, #271939);
    background: linear-gradient(-45deg, #672a57, #271939);
    margin: 0;
    padding: 0;
}

h1 {
    color: aliceblue !important;
    font-size: 2.8em;
    width: 100%;
    font-family: Monaco;
    text-align: center;
}

h2 {
    color: aliceblue !important;
    font-size: 1.8em;
    width: 100%;
    font-family: Monaco;
    text-align: center;
}

h3 {
    color: aliceblue !important;
    font-size: 1.5em;
    width: 100%;
    font-family: Monaco;
    text-align: center;
}

p {
    color: aliceblue;
    font-size: 1.1em;
    padding-top: 0px;
    line-height: 1.0em;
    width: 100%;
    font-family: "Helvetica Neue";
    text-align: center;
}

ol {
    color: aliceblue;
    font-size: 1.5em;
    padding-left: 225px;
    line-height: 1.8em;
    text-align: left;
    width: 100%;
    font-family: "Helvetica Neue";
}

ul {
    color: aliceblue;
    font-size: 1.1em;
    padding-left: 175px;
    line-height: 2.5em;
    text-align: left;
    width: 100%;
    font-family: "Helvetica Neue";
}

.link {
    color:aliceblue;
    text-decoration: none; 
    background-color: none;
}

.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    width: 337px;
    height: 475px;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    width: 337px;
    height: 475px;
}

.column {
    flex: 50%;
    padding: 10px;
  }